// .skill--icon {
//   &-html {
//     color: $color-html;
//   }
//   &-css {
//     color: $color-css;
//   }
//   &-sass {
//     font-size: 48px;
//     color: $color-sass;
//   }
//   &-js {
//     color: $color-js;
//   }
//   &-wp {
//     color: $color-wp;
//   }
//   &-git {
//     color: $color-git;
//   }
// }

.icon {
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: -20px;
    width: 1em;
    height: 1em;
    transform: translate(-30%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.twitter {
    &::before {
      background-image: url(../images/twitter.svg);
    }
  }
}
