.deco1 {
  position: relative;
  padding: 0.5em;
  background: #ccdee4;
  color: white;
  &::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }
}

.deco2 {
  padding: 0.25em 1em;
  background: transparent;
  border-left: solid 5px #7798b6;
}

.deco3 {
  position: relative;
  padding: 0.25em 0;
  width: 160px;
  &:after {
    content: "";
    display: block;
    height: 6px;
    margin: -7px 0;
    background: linear-gradient(to right, #a86982, transparent);
    border-radius: 40%;
  }
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  color: var(--color-primary);
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
  About
  ---------------------------------*/
.about {
  background-color: $cBlue;
  color: $fcWhite;
  padding: 80px 0;
  .title {
    color: $fcWhite;
  }
  &--body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    @include mq-up(md) {
      align-items: center;
      justify-items: left;
      grid-template-columns: 140px 1fr;
      gap: 50px;
    }
  }
  &--img {
    padding: 40px 0;
    & img {
      background: $cWhite;
      border-radius: 50%;
      object-fit: cover;
      height: 140px;
    }
    @include mq-up(md) {
      padding: 40px 0;
    }
  }
}
/*--------------------------------
  Skill
  ---------------------------------*/
.skill {
  padding-top: 80px;
  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;
  }

  &--icon {
    font-size: 60px;
    width: 60px;
    height: auto;
    margin-right: 20px;
    text-align: center;
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 50px;
    @include mq-up(md) {
      align-items: flex-start;
    }
  }

  &--img {
    width: 60px;
    height: auto;
    margin-right: 20px;
  }

  &--body {
    flex: 1;
  }

  &--name {
    margin-bottom: 3px;
  }

  .icon {
    &-html {
      color: $color-html;
    }
    &-css {
      color: $color-css;
    }
    &-sass {
      font-size: 50px;
      color: $color-sass;
    }
    &-js {
      color: $color-js;
    }
    &-wp {
      color: $color-wp;
    }
    &-git {
      color: $color-git;
    }
  }
}

/*--------------------------------
 Works
---------------------------------*/
.works {
  &--list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    @include mq-up(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--item {
    justify-self: center;
    & > a {
      color: #333;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &--img {
    overflow: hidden;
    width: 320px;
    height: 280px;
    object-fit: cover;
    & img {
      border: 1px solid #e6e6e6;
      display: block;
      transition: 0.5s;
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.9;
        transform: scale(1.05);
      }
    }
    @include mq-up(md) {
      width: 400px;
      height: 300px;
      object-fit: cover;
    }
  }

  &--sitename {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }

  &--info {
    font-size: 12px;
  }
}

/*--------------------------------
  Contact
  ---------------------------------*/
.contact {
  &--item:not(:last-child) {
    margin-right: 10px;
  }

  &--text {
    margin-top: 10px;
  }
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    // font-size: 13px;
    // line-height: 1.7;
  }

  /* Skills */
  .skill {
    &--list {
      display: block;
      margin-bottom: 0;
    }

    &--item {
      width: 100%;
      margin-bottom: 35px;
    }

    &--item:last-child {
      margin-bottom: 0;
    }
  }

  /* Works */
  .works {
  }

  /* フッター */
  .footer {
    padding: 20px;
  }
}
