/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  color: var(--color-primary);
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
  About
  ---------------------------------*/
.about {
  background-color: $cBlue;
  color: $fcWhite;
  .title {
    color: $fcWhite;
  }
  &--body {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 50px;
    align-items: center;
  }
  &--img {
    & img {
      background: $cWhite;
      border-radius: 50%;
      // @include mq-down(lg) {
      object-fit: cover;
      height: 140px;
      // }
    }
  }
}
/*--------------------------------
  Skill
  ---------------------------------*/
.skill {
  padding-top: 80px;
  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;
  }

  &--icon {
    font-size: 60px;
    width: 60px;
    height: auto;
    margin-right: 20px;
    text-align: center;
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 50px;
    @include mq-up(md) {
      align-items: flex-start;
    }
  }

  &--img {
    width: 60px;
    height: auto;
    margin-right: 20px;
  }

  &--body {
    flex: 1;
  }

  &--name {
    margin-bottom: 3px;
  }

  .icon {
    &-html {
      color: $color-html;
    }
    &-css {
      color: $color-css;
    }
    &-sass {
      font-size: 50px;
      color: $color-sass;
    }
    &-js {
      color: $color-js;
    }
    &-wp {
      color: $color-wp;
    }
    &-git {
      color: $color-git;
    }
  }
}

/*--------------------------------
 Works
---------------------------------*/
.works {
  &--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    @include mq-down(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq-down(lg) {
      grid-template-columns: 1fr;
    }
  }

  &--item {
    justify-self: center;
    & > a {
      color: #333;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &--img {
    overflow: hidden;
    width: 400px;
    height: 300px;
    & img {
      border: 1px solid #e6e6e6;
      display: block;
      transition: 0.5s;
      &:hover {
        opacity: 0.9;
        transform: scale(1.05);
      }
    }
  }

  &--sitename {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }

  &--info {
    font-size: 12px;
  }
}

/*--------------------------------
  Contact
  ---------------------------------*/
.contact {
  &--item:not(:last-child) {
    margin-right: 10px;
  }

  &--text {
    margin-top: 10px;
  }
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;

  &--inner {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &--title {
    margin-bottom: 20px;
    text-align: center;
  }

  &--img {
    margin-bottom: 20px;
  }

  &--body {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
    & img {
      margin-bottom: 30px;
    }

    & p {
      margin-bottom: 30px;
    }
  }

  &--info-title {
    font-size: 15px;
  }
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    // font-size: 13px;
    // line-height: 1.7;
  }

  /* Skills */
  .skill {
    &--list {
      display: block;
      margin-bottom: 0;
    }

    &--item {
      width: 100%;
      margin-bottom: 35px;
    }

    &--item:last-child {
      margin-bottom: 0;
    }
  }

  /* Works */
  .works {
  }

  /* フッター */
  .footer {
    padding: 20px;
  }
}
